	{% if page.layout == 'amp' %}
		<p>You Door All Dalao Except Me I good vegetable ah...</p>
	{% else %}
		<script type='text/javascript'>
			fortune = new Array(10);
			fortune[0] = 'You Door All Dalao Except Me I good vegetable ah...';
			fortune[1] = '啊，大林，斯大林，爱我苏联，天气冷，我睡了。';
			fortune[2] = 'Pen Pineapple Apple Pen ~';
			fortune[3] = '恒——源——祥，羊羊羊。';
			fortune[4] = '采菊东篱下，红杏出墙来。';
			fortune[5] = 'Ｔｅｃｈｎｏｌｏｇｙ　ｉｓ　ｉｎｃｒｅｄｉｂｌｅ！';
			fortune[6] = '頭が赤い魚を食べた猫';
			fortune[7] = '张华考上了研究生，李萍自主创业，我当了技术工人：我们都有美好的前途。';
			fortune[8] = '你才是二次元！你全家都是二次元！';
			fortune[9] = 'The border land was wrapped in Scarlet Magic. Girls believe that you solve this mystery...';
			index = Math.floor(Math.random() * fortune.length);
			document.write(fortune[index]);
		</script>
		<noscript>Girls do their best now and are preparing. Please watch warmly until it is ready...</noscript>
	{% endif %}
